.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.devLogo{
  width: 55px;
  height: 55px;
  position: relative;
  right: 12px;
}
.homeLogo{
  width: 28px;
  height: 25px;
  position: relative;
  bottom: 5px;
}

.aboutLogo{
  width: 28px;
  height: 24px;
  position: relative;
  bottom: 3px;
}

.skillsLogo{
  width: 31px;
  height: 30px;
  position: relative;
  bottom: 3px;
}

.experienceLogo{
  width: 31px;
  height: 28px;
  position: relative;
  bottom: 3px;
}

.text{
  text-align: center;
}

.developerImg{
    height: 350px;
    width: 430px;
    transition: transform .2s; /* Animation */
}
.developerImg:hover{
  transform: scale(1.5); 
}

@media (max-width:767px){
  .developerImg {
    width: 300px;     
    height: 300px;  
  }
 }

 @media (max-width:600px){
  .developerImg {
    width: 220px;     
    height: 220px;  
  }
 }

 @media (max-width:500px){
  .developerImg {
    width: 190px;     
    height: 190px;  
  }
 }

.githubIcon, .fbIcon, .scIcon, .instaIcon{
  height: 50px;
  width: 50px;
  transition: transform .2s;
}

.gmailIcon{
  height: 38px;
  width: 52px;
  transition: transform .2s;
}
.githubIcon:hover, .gmailIcon:hover, .fbIcon:hover, .scIcon:hover, .instaIcon:hover{
transform: scale(1.5);
cursor: pointer;
}

.codeIcon{
  height: 40px;
  width: 70px;
}

/* Download  */
@import url('//fonts.googleapis.com/css?family=Roboto:500');
 @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
 .face-button {
	 height: 64px;
	 display: inline-block;
	 border: 3px solid black;
	 font-family: 'Roboto', sans-serif;
	 font-size: 20px;
	 font-weight: 500;
	 text-align: center;
	 text-decoration: none;
	 color: #2C3940;
	 overflow: hidden;
}
 .face-button .icon {
	 margin-right: 6px;
}
 .face-button .face-primary, .face-button .face-secondary {
	 display: block;
	 padding: 0 32px;
	 line-height: 64px;
	 transition: margin 0.4s;
}
 .face-button .face-primary {
	 background-color: #2C3940;
	 color: whitesmoke;
}
 .face-button:hover .face-primary {
	 margin-top: -64px;
}
.face-secondary{
  color: #2C3940;
  background-color: whitesmoke;
}

hr{
  background-color: darkgray; height: 1px; width: 65%; 
}