.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.devLogo{
  width: 55px;
  height: 55px;
  position: relative;
  right: 12px;
}
.homeLogo{
  width: 28px;
  height: 25px;
  position: relative;
  bottom: 5px;
}

.aboutLogo{
  width: 28px;
  height: 24px;
  position: relative;
  bottom: 3px;
}

.skillsLogo{
  width: 31px;
  height: 30px;
  position: relative;
  bottom: 3px;
}

.experienceLogo{
  width: 31px;
  height: 28px;
  position: relative;
  bottom: 3px;
}

.text{
  text-align: center;
}

.developerImg{
    transition: transform .2s; /* Animation */
}
.developerImg:hover{
  transform: scale(1.5); 
}

.githubIcon, .fbIcon, .scIcon, .instaIcon{
  height: 50px;
  width: 50px;
  transition: transform .2s;
}

.gmailIcon{
  height: 38px;
  width: 52px;
  transition: transform .2s;
}
.githubIcon:hover, .gmailIcon:hover, .fbIcon:hover, .scIcon:hover, .instaIcon:hover{
transform: scale(1.5);
cursor: pointer;
}

.codeIcon{
  height: 40px;
  width: 70px;
}

/* Download  */
@import url('//fonts.googleapis.com/css?family=Roboto:500');
 @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
 .face-button {
	 height: 64px;
	 display: inline-block;
	 border: 3px solid black;
	 font-family: 'Roboto', sans-serif;
	 font-size: 20px;
	 font-weight: 500;
	 text-align: center;
	 text-decoration: none;
	 color: #2C3940;
	 overflow: hidden;
}
 .face-button .icon {
	 margin-right: 6px;
}
 .face-button .face-primary, .face-button .face-secondary {
	 display: block;
	 padding: 0 32px;
	 line-height: 64px;
	 transition: margin 0.4s;
}
 .face-button .face-primary {
	 background-color: #2C3940;
	 color: whitesmoke;
}
 .face-button:hover .face-primary {
	 margin-top: -64px;
}
.face-secondary{
  color: #2C3940;
  background-color: whitesmoke;
}

hr{
  background-color: darkgray; height: 1px; width: 65%; 
}

.personalInfo{
  text-align: center;
}

/* .profileImg{
  margin: 0 auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
} */


/* Image animated*/

.profileDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  /* width: 230px;
  height: 220px; */
  background: whitesmoke;
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.profileDiv:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.profileDiv:hover::before, .profileDiv:hover::after {
  display: block;
  content: '';
  position: absolute;
  /* width: 230px;
  height: 220px; */
  background: darkred;
  border-radius: 50%;
  z-index: -1;
  animation: 2s clockwise infinite;
}

.profileDiv:hover:after {
  background: black;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

#aboutMe{
  border: 2px solid gray;
  box-shadow: 2px 2px 2px 2px black;
}

#aboutMe:hover{
  transition-duration: 2s;
  color: white;
  background-color:  #2F3F79;
}

p{
  font-weight: bold;
}

#educationImg{
  height: 70px;
  width:  85px;
}

#educationText{
  display: inline;
  position: relative;
  top: 6px;
}

/* Responsive */
@media (max-width:1567px){
  .developerImg {
    height: 350px;
    width: 430px;
  }
  .profileDiv{
    height:300px; 
    width: 300px;
  }
  .profileDiv:hover::before, .profileDiv:hover::after {
    height:300px; 
    width: 300px;
  }
  .profileImg{
    height:300px; 
    width: 300px;
    border-radius: 50%;
  }
  #aboutMe {
    margin: 0 auto;
    width: 620px;
    height: 230px;
  }
}

@media (max-width:767px){
  .developerImg {
    width: 300px;     
    height: 300px;  
  }
  .profileDiv{
    width: 200px;     
    height: 200px; 
  }
  .profileDiv:hover::before, .profileDiv:hover::after {
    height: 200px;
    width: 200px;
  }
  .profileImg{
    height:200px; 
    width: 200px;
    border-radius: 50%;
  }
  #aboutMe {
    margin: 0 auto;
    width: 500px;
    height: 245px;
  }
 }


 @media (max-width:600px){
  .developerImg {
    width: 320px;     
    height: 280px;  
  }
  .profileDiv{
    width: 180px;     
    height: 180px;  
  }
  .profileDiv:hover::before, .profileDiv:hover::after {
    height: 177px;
    width: 177px;
  }
  .profileImg{
    height:180px; 
    width: 180px;
    border-radius: 50%;
  }
  #aboutMe {
    margin: 0 auto;
    width: 400px;
    height: 280px;
  }
}
 @media (max-width:500px){
  .developerImg {
    width: 280px;     
    height: 220px;  
  }
  .profileDiv{
    width: 182px;     
    height: 182px;  
  }
  .profileDiv:hover::before, .profileDiv:hover::after {
    height: 182px;
    width: 182px;
  }
  .profileImg{
    height:181px; 
    width: 181px;
    border-radius: 50%;
    }
  #aboutMe {
    margin: 0 auto;
    width: 350px;
    height: 330px;
  }
 }
 @media (max-width:412px){
  .developerImg {
    width: 261px;     
    height: 210px;  
  }
  .profileDiv{
    height:181px; 
    width: 181px; 
  }
  .profileDiv:hover::before, .profileDiv:hover::after {
    height:181px; 
    width: 181px;
  }
  .profileImg{
    height:181px; 
    width: 181px;
    border-radius: 50%;
  }
  #aboutMe {
    margin: 0 auto;
    width: 320px;
    height: 340px;
  }
 }
/* ----------- X ----------- */


 #aboutMe > h1{
   font-size: 20px !important;
   font-weight: bold;
 }

/* Cards*/

#main{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
ul{
  list-style-type: none;
}
#one{
  /* background-color: red; */
  height: 400px;
  width: 320px;
  margin: 15px;
  box-shadow: 2px 2px 3px black;
  text-align: center;
}
#two{
  /* background-color: blue; */
  height: 400px;
  width: 320px;
  margin: 15px;
  box-shadow: 2px 2px 3px black;
  text-align: center;
}
#three{
  /* background-color: green; */
  height: 400px;
  width: 320px;
  margin: 15px;
  box-shadow: 2px 2px 3px black;
  text-align: center;
}


@media (max-width: 800px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    /* margin: 0 auto; */
    position: relative;
    top: 15px;
    left: 30px;
  }
}

@media (max-width: 667px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    /* margin: 0 auto; */
    position: relative;
    top: 15px;
    left: 15px;
  }
}

@media (max-width: 736px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    /* margin: 0 auto; */
    position: relative;
    top: 15px;
    left: 33px;
  }
}

@media (max-width: 812px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    /* margin: 0 auto; */
    position: relative;
    top: 15px;
    left: 13px;
  }
}

  @media (max-width: 568px){
    #main {
      flex-direction: column;
    }
    #one,#two,#three{
      position: relative;
      top: 15px;
      left: -4px;
      height: 469px;
      width: 298px;
    }
    #uniImg{
      height: 215px !important;
      width: 297px !important;
    }
  }
  @media(max-width: 823px){
    #main {
      flex-direction: column;
    }
    #one,#two,#three{
      position: relative;
      top: 15px;
      left: 30px;
      height: 469px;
      width: 324px;
  
    }
    #uniImg{
      height: 215px !important;
      width: 323px !important;
    }
  }
@media(max-width:640px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    position: relative;
    top: 15px;
    left: 15px;
    height: 469px;
    width: 301px;
  }
  #uniImg{
    height: 215px !important;
    width: 301px !important;
  }
}

@media(max-width:731px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    position: relative;
    top: 15px;
    left: 18px;
    height: 469px;
    width: 340px;
  }
  #uniImg{
    height: 215px !important;
    width: 340px !important;
  }
}

@media(max-width: 568px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    position: relative;
    top: 15px;
    left: 7px;
    height: 469px;
    width: 279px;
  }
  #uniImg{
    height: 215px !important;
    width: 278px !important;
  }
}

@media(max-width: 667px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    position: relative;
    top: 15px;
    left: 7px;
    height: 469px;
    width: 320px;
  }
  #uniImg{
    height: 215px !important;
    width: 320px !important;
  }
}

@media(max-width: 736px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    position: relative;
    top: 15px;
    left: 7px;
    height: 469px;
    width: 360px;
  }
  #uniImg{
    height: 215px !important;
    width: 360px !important;
  }
}

@media(max-width: 812px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    position: relative;
    top: 15px;
    left: 6px;
    height: 469px;
    width: 327px;
  }
  #uniImg{
    height: 215px !important;
    width: 327px !important;
  }
}

@media(max-width: 653px){
  #main {
    flex-direction: column;
  }
  #one,#two,#three{
    position: relative;
    top: 15px;
    left: 6px;
    height: 378px;
    width: 244px;
  }
  #uniImg{
    height: 200px !important;
    width: 244px !important;
  }
}

#uniImg{
  width: 320px;
  height: 200px;
}